{% extends "layout.twig" %}

{% block title %}{{ formattedTitle }}{% endblock %}
{% block bodyClasses %}endpoint-page{% endblock %}

{% block content %}

<div class="header" role="banner">
    <div class="container">
        <h1 class="header__title">{{ formattedTitle }}</h1>
        {% if summary %}
            <p class="header__description">{{ summary }}</p>
        {% endif %}

        <span class="header__resource">{{ method }} {{ formattedUri|raw }}</span>
    </div>
</div>

<div class="tab-bar">
    <ol class="tab-bar__list container" role="tablist">
        <li role="presentation" class="tab-bar__tab is-selected js-tab-item">
            <a id="parameters-tab-ctrl" aria-selected="true" tabindex="0" class="tab-bar__tab-control js-tab-control" role="tab">
                <span>Parameters</span>
            </a>
        </li>
        <li role="presentation" class="tab-bar__tab js-tab-item">
            <a id="request-tab-ctrl" aria-selected="false" tabindex="-1" class="tab-bar__tab-control js-tab-control" role="tab">
                <span>Request</span>
            </a>
        </li>
        <li role="presentation" class="tab-bar__tab js-tab-item">
            <a id="response-tab-ctrl" aria-selected="false" tabindex="-1" class="tab-bar__tab-control js-tab-control" role="tab">
                <span>Response</span>
            </a>
        </li>
    </ol>
</div>

<div role="main" class="container--medium">
    <div aria-labelledby="parameters-tab-ctrl" aria-hidden="false" class="js-tab-content" role="tabpanel">
        {% include 'parameters-non-interactive.twig' %}
    </div>
    <div aria-labelledby="request-tab-ctrl" aria-hidden="true" class="js-tab-content" role="tabpanel" hidden>

    </div>
    <div aria-labelledby="response-tab-ctrl" aria-hidden="true" class="js-tab-content" role="tabpanel" hidden>

    </div>

    {% include 'footer.twig' %}
</div>

<script>

    function switchToTab (newTab) {
        var tabCtrl = $('#' + newTab.attr('aria-labelledby'));

        $('.js-tab-control').attr({'aria-selected': false, 'tabindex': '-1'}).parent('.js-tab-item').removeClass('is-selected');
        tabCtrl.attr({'aria-selected': true, 'tabindex': '0'}).parent('.js-tab-item').addClass('is-selected');

        $('.js-tab-content').attr('aria-hidden', true).attr('hidden', true);
        newTab.attr('aria-hidden', false).attr('hidden', false);

        tabCtrl.focus();
    }

    $(function() {
        localStorage.clear();

        $('#endpoint-parameters-form').on('submit', function (e) {
            e.preventDefault();
            var data = {
                method: '{{ method }}',
                uri: '{{ uri }}',
                params: {}
            };

            $('.js-endpoint-submit').attr('disabled', true).addClass('loading');
            switchToTab($('.request-response-tab'));

            $('.js-request-response-placeholder').attr('hidden', true);

            $('.js-param').each(function (key, input) {
                if ($(input).val() !== '') {
                    data.params[$(input).attr('name')] = $(input).val();
                }
            });

            replacer = function(match, param) {
                if (data.params.hasOwnProperty(param)) {
                    val = data.params[param];
                    delete data.params[param];
                    return val;
                }
            };

            data.uri = data.uri.replace(/{([a-zA-Z]+)}/g, replacer);

            $.ajax({
                url: '/proxy.php',
                method: 'POST',
                contentType: 'application/json; charset=UTF-8',
                data: JSON.stringify(data)
            })
            .done(function (response) {
                $('.js-endpoint-submit').removeAttr('disabled').removeClass('loading');
                $('.js-request-response-container').removeAttr('hidden');

                if (typeof response.request !== 'undefined' && response.request.length > 0) {
                    $('.request-body-container .js-request-response-output').text(response.request);
                } else {
                    $('.request-body-container').attr('hidden', true);
                }

                $('.request-headers-container .js-request-response-output').text(response.requestHeaders);
                $('.response-headers-container .js-request-response-output').text(response.responseHeaders);
                $('.response-body-container .js-request-response-output').text(response.response);
                Prism.highlightAll();
            });
        });

        $('.js-tab-control').on('click', function (evt) {
            var tab = $('.js-tab-content[aria-labelledby=' + $(this).attr('id') + ']');

            evt.preventDefault();

            switchToTab(tab);
        });

    });
</script>
{% endblock %}
