{% extends "layout.twig" %}

{% block content %}
<div class="command-title-container">
    <h1 class="command-title"><span class="muted">{{ method }}</span> {{ formattedUri|raw }}</h1>
    {% if related|length > 0 %}
    <p class="other-methods">Other method(s):</p>
    <ul class="related-methods">
        {% for httpMethod in ['GET', 'PUT', 'POST', 'DELETE'] %}
            <li>
            {% set item = related[httpMethod] %}
            {% if item %}
                <a class="related-method-{{ httpMethod }}" href="{{ item.link }}">{{ item.method }}</a>
            {% else %}
                <span class="unimplemented-method">{{ httpMethod }}</a>
            {% endif %}
            </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>

<div class="command-container">
    <p class="command-summary">{{ summary }}</p>

    <h3>Parameters</h3>
    <form>
        <table class="params">
        {% for key, param in params %}
        <tr>
            <td class="param-key">
                <div>{{ key }}</div>
                <div class="muted">{{ param.required ? 'required' : 'optional' }}</div>
            </td>
            <td class="param-desc">
                <div>{{ param.description }}</div>
                <div class="muted">{{ param.type }}</div>
            </td>
            <td class="param-input">
                {% if param.enum %}
                <select name="{{ key }}" class="param">
                    <option></option>
                    {% for value in param.enum %}
                    <option>{{ value }}</option>
                    {% endfor %}
                </select>
                {% else %}
                <input name="{{ key }}" type="text" class="param">
                {% endif %}
            </td>
        </tr>
        {% else %}
            <tr><td colspan="3">No parameters</td></tr>
        {% endfor %}
        </table>
        <div class="button-container">
            <button class="try-it">Try it!</button>
        </div>
    </form>

    <div class="results">
        <h3 class="request-title">Request</h3>
        <pre class="requestHeaders"></pre>
        <pre class="request"></pre>
        <h3>Response</h3>
        <pre class="responseHeaders"></pre>
        <pre class="response"></pre>
    </div>
</div>

<script type="text/javascript">
$(function() {
    localStorage.clear();

    $('.param').first().focus();

    $('.try-it').click(function (e) {
        e.preventDefault();
        var data = {
            method: '{{ method }}',
            uri: '{{ uri }}',
            params: {}
        };

        $('.param').each(function (key, input) {
            if ($(input).val() !== '') {
                data.params[$(input).attr('name')] = $(input).val();
            }
        });

        replacer = function(match, param) {
            if (data.params.hasOwnProperty(param)) {
                val = data.params[param];
                delete data.params[param];
                return val;
            }
        };

        data.uri = data.uri.replace(/{([a-zA-Z]+)}/g, replacer);

        $.ajax({
            url: '/proxy.php',
            method: 'POST',
            contentType: 'application/json; charset=UTF-8',
            data: JSON.stringify(data)
        })
        .done(function (response) {
            $('.results').show();
            $('.requestHeaders').text(response.requestHeaders);
            if (typeof response.request !== 'undefined') {
                $('.request').text(response.request);
            }
            $('.responseHeaders').text(response.responseHeaders);
            $('.response').text(response.response);
        });
    });
});
</script>
{% endblock %}
