{% extends 'layout.twig' %}

{% block title %}Environments & credentials{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1 class="page-header-title">Environments & credentials</h1>
        <p class="credentials-info">Choose the environment and credentials with which to try out API calls.</p>
    </div>
    <form class="credentials">
        <ul class="environment-list">
            {% for environment in environments %}
                <li class="environment">
                    <h2 class="environment-name">{{ environment.name }}</h2>
                    <p class="environment-base-url">{{ environment.baseURL }}</p>
                    <ul class="environment-credential-list">
                        {% for credential in environment.credentials %}
                            <li class="environment-credential">
                                <label class="credential-label" for="credential-{{ credential.name }}">{{ credential.name }}</label>
                                <input type="radio" name="user-credentials" id="credential-{{ credential.name }}" value="{{ credential.name }}">
                                <div class="credential-option"></div>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </form>
</div>

<script>
    (function () {
        if (!'localStorage' in window) {
            return;
        }

        var form = document.querySelector('.credentials')
            currentValue = null;

        if (null !== (currentValue = localStorage.getItem('userCredentials'))) {
            document.getElementById('credential-' + currentValue).checked = true;
        }

        form.addEventListener('change', function (evt) {
            var selectedCredentials = evt.currentTarget.querySelector('[name="user-credentials"]:checked').value;
            localStorage.setItem('userCredentials', selectedCredentials);
        });
    }());
</script>
{% endblock %}
