{% extends 'layout.twig' %}

{% block content %}
<h1>API index</h1>
<ul class="base-resources">
    {% for resource in baseResources %}
        <li><a href="/directory/{{ resource }}.html"><h2>{{ resource }}</h2></a></li>
    {% endfor %}
</ul>

<ul class="resources">
    {% for methods in operations %}
        {% for method in methods %}
            <li>
                <a class="resource-method" href="/api/{{ method.name|uriToPath}}.html">{{ method.httpMethod }}</a>
                <h3>{{ method.uri }}</h3>
                <p>{{ method.summary }}</p>
            </li>
        {% endfor %}
    {% endfor %}
</ul>
{% endblock %}
