{% extends 'layout.twig' %}

{% block title %}{{ dir|split("-")|join(" ")|capitalize }}{% endblock %}

{% block content %}

<div class="header" role="banner">
    <div class="container">
        <h1 class="header__title">{{ dir|split("-")|join(" ")|capitalize }}</h1>
        <p class="header__description">/{{ dir }}</p>
    </div>
</div>

<div role="main" class="container--medium">
    <ul class="endpoint-list">
        {% for uri, methods in operations %}
            {% for method in methods %}
                <li class="endpoint-list__item">
                    <a href="/api/{{ method.name|uriToPath }}.html" class="endpoint-list__item-link">
                        <div class="endpoint-list__item-header endpoint-method-{{ method.httpMethod }}">
                            <h2 class="endpoint-list__item-title">{{ method.name|formatTitle }}</h2>
                            {% if method.summary %}
                                <p class="endpoint-list__item-summary">{{ method.summary }}</p>
                            {% endif %}
                        </div>
                        <div class="endpoint-list__item-footer">
                            <span class="endpoint-list__item-resource">{{ method.httpMethod }} {{ method.uri|formatUri|raw }}</span>
                        </div>
                    </a>
                </li>
            {% endfor %}
        {% endfor %}
    </ul>
</div>

<div class="container--medium">
    {% include 'footer.twig' %}
</div>

{% endblock %}
