{% extends 'layout.twig' %}

{% block title %}{{ dir|split("-")|join(" ")|capitalize }}{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1 class="page-header-title">{{ dir|split("-")|join(" ")|capitalize }}</h1>
    </div>
    <ul class="resources datalist">
        {% for uri, methods in operations %}
            {% for method in methods %}
            <li class="datalist-item">
                <a href="/api/{{ method.name|uriToPath }}" class="datalist-item-link">
                    <h2 class="endpoint-{{ method.httpMethod }} endpoint-list-title datalist-item-title">
                        <span class="endpoint-list-method">{{ method.httpMethod }}</span> <span class="endpoint-list-uri">{{ method.uri|formatUri|raw }}</span>
                    </h2>
                    {% if method.summary %}
                        <p class="endpoint-list-summary">{{ method.summary }}</p>
                    {% endif %}
                </a>
            </li>
            {% endfor %}
        {% endfor %}
    </ul>
</div>
{% endblock %}
